.App {
  text-align: center;
  height: 100vh;
}

.Title {
  display: inline-block;
  font-weight: 100;
  font-size: 36px;
}

@media (max-width: 600px) {
  .Title {
    font-size: 30px;
  }
}

.GitHubLink {
  margin-left: 8px;
  opacity: 0.4;
}

.GitHubLink:hover {
  opacity: 1;
}
